* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: "Lora", serif;
  font-weight: 400;
}
.font-roboto,
.font-roboto a {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
header {
  height: 80px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);

  position: absolute;
  z-index: 1;
}
.banner img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.header-flex {
  padding: 0px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header-nav ul {
  display: flex;
  align-items: center;
}
.header-nav ul li a {
  font-size: 12px;
  line-height: 14px;
  color: #e5e5e5;
  transition: all 0.3s;
}
.header-nav ul li a:hover {
  color: #fff;
  transition: all 0.3s;
}
.header-nav ul li {
  margin-right: 25px;
}
.header-nav ul li:last-child {
  margin-right: 0px;
}
.header-flex-2,
.header-social ul {
  display: flex;
}

.header-social ul li {
  margin-right: 18px;
}
.header-social ul li:last-child {
  margin-right: 0px;
}
.header-social {
  margin: 0px 17px;
  border-left: 0.5px solid #e5e5e5;
  border-right: 0.5px solid #e5e5e5;
  padding: 0px 17px;
}

/* well */
form {
  width: auto;
  float: right;
  margin-right: 30px;
}

input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #F9F0DA;
  outline: none;
  position: relative;
  transition: .3s linear;
}
input:focus {
  width: 300px;
}
button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}
button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}
/* well */
.banner {
  position: relative;
}
.banner-info {
  position: absolute;
  width: 530px;
  left: 70px;
  bottom: 140px;
  color: #fff;
}

.tag {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  padding: 5px 10px; 
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;

  color: #ffffff;
}
.middle-line {
  height: 1px;
  width: 30px;
  background: #e5e5e5;
  margin: 16px 11px;
}

.banner-text{
  display: flex;
  /* padding: 5px 0px; */
}

/* .banner-text:last-child{
  padding: 30px 0px;                   #как тут сделать ровный текст с тире?
} */

.Richard{
  margin-top: 20px;
  margin-bottom: 15px;
}

.firstP{
  margin: 5px 5px;
}

.Progress{
  margin: 13px 0px;
}

main{
  color: #495057;
}

.topics h2{
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  /* identical to box height */


  color: #495057;
}

.container{
  width: 1300px;
  margin: 150px auto;
}

.filter-list{
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.filter-list li{
  margin-right: 20px;
}

.filter-list li:last-child{
  margin-left: auto;
  margin-right: 0px;
}

.filter-list li a{
  font-weight: bold;
  font-size: 12px;
  line-height: 25px;
  color: #495057;
}

.all:hover{
  color: #D4A373;
  transition: all 0.4s;
  border-bottom: 1px solid #D4A373;
}

.topic{
  position: relative;
  width: 310px;
  color: #495057;
}

.topic-image{
  width: 100%;
  height: 280px;
}

.topic-image img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.tag-list{
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
}

.tag-list li{
  margin-right: 10px;
}

.tag-list li:last-child{
  margin-right: 0px;
}

.topic-title{
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #495057;
  margin: 15px 0px;
}

.topics-list{
  display: flex;
  flex-wrap: wrap;
  gap: 50px 20px;
  
}
